@font-face{
    font-family: 'PlusJakarta';
    src: url(/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

$color-new-notif: #f6fafd;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PlusJakarta', 'sans-serif';
    text-decoration: none;
}

.main{
    background-color: #F9FAFE;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    .container{
        background-color: #fff;
        padding: 35px;
        border-radius: 20px;
        max-width: 730px;
        margin: 50px;

        .notifications-numbers{
            display: flex;
            justify-content: space-between;
            margin-bottom: 35px;

            .box-notifications{
                display: flex;

                .notif{
                    display: flex;
                    align-items: center;

                    h2{
                        display: flex;
                        align-items: center;
                        height: 100%;
                        margin-right: 10px;
                    }
                }

                .number-notif{
                    background-color: #0D3378;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    font-weight: bold;
                    padding: 5px 14px;
                    border-radius: 10px;
                    font-size: 18px;
                }
            }

            .mark-opt{
                display: flex;
                align-items: center;
                color: #9a9ea7;

                h4{
                    font-weight: 500;
                    cursor: pointer;
                }
            }
        }

        .notifications-persons{
            display: flex;
            flex-direction: column;

            .person-notif{
                display: flex;
                background-color: $color-new-notif;
                margin-bottom: 10px;
                border-radius: 10px;

                .person-photo{
                    width: 85px;
                    padding: 15px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img{
                        width: 100%;
                        border-radius: 50%;
                        border: 1px solid #ddd;
                    }
                }

                #photo-rizky{
                    align-items: flex-start;
                }
                .person-comments{
                    border-radius: 0 10px 10px 0;
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    padding: 20px 10px 20px 0px;

                    .box-comment-time{
                        
                        .person--comment{
                            color: #656974;
                            word-spacing: 2px;
    
                            a{
                                font-weight: 800;
                                color: #000;
                            }
    
                            .recent-post{
                                color: #5a606e;
                            }
                            
                            .chess-club{
                                color: #1f3066;
                            }
    
                            a:hover{
                                color: #1f3066 !important;
                            }
                        }
    
                        .time-posted{
                            color: #969da5;
                            margin: 3px;
                            font-size: 15px;
                        }
    
                        .message{
                            border: 1px solid #e1e5e6;
                            background-color: #fff;
                            padding: 20px;
                            font-size: 16px;
                            color: #6b6a6a;
                            border-radius: 5px;
                            margin-top: 7px;
                        }
                    }

                    .picture-notif{
                        height: 50px;

                        img{
                            height: 100%;
                        }
                    }
                }
            }

            .person-notif-old{
                background-color: #fff;
            }
        }
    }
}

@media(max-width:636px){

    .main .container{
        margin: 0;
        padding: 20px;
    }

    .main .container .notifications-numbers{
        margin-bottom: 20px;

        .box-notifications{

            .number-notif{
                padding: 0 12px;
                font-size: 16px;
            }

        }

        .mark-opt{
            h4{
                font-size: 14px;
            }
        }
    }

    .main .container .notifications-persons .person-notif #photo-kimberly{
        align-items: flex-start;
    }

    .main .container .notifications-persons .person-notif .person-photo{
        width: 0;
        flex: 1;
    }

    .main .container .notifications-persons .person-notif .person-comments{
        flex: 4;

        .box-comment-time .person--comment{
            font-size: 0.80rem;
        }

        .box-comment-time .time-posted{
            font-size: 0.78rem;
        }

        .box-comment-time .message{
            font-size: 0.80rem;
        }
    }

    .main .container .notifications-persons .person-notif .person-comments .picture-notif{
        height: 100%;
        display: flex;
        justify-content: center;

        img{
            height: 50px;
            // height: 50px;
        }
    }
}